:root {
  --bg-color: #191919;
  --text-color: #dddddd;
  --SHORTCUT_TIMEOUT: 1.5s;
  --min-page-height: 720px;
  --min-page-width: 1500px;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: "SF Compact Display Light", sans-serif;

  font-size: 22px;

  user-select: none;
  max-height: 100%;
  max-width: 100%;
}

#time {
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  margin: auto;
  font-family:monospace, monospace;
  font-family: 'Iosevka', monospace;
  /*border: 2px solid rebeccapurple;*/
}

#page-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: var(--min-page-width);
  min-height: var(--min-page-height);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);
  animation: fadein linear 2s;
  animation-delay: 500ms;
}

.centered {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-width: var(--min-page-width);
  min-height: var(--min-page-height);
  display: flex;
  align-items: center;
}

.centered h1, .wrap {
  margin-bottom: 15px;
  font-weight: normal;
}

.centered h2 {
  font-weight: 200;
  font-size: 2rem;
  margin-top: 0;
  opacity: 0.5;
}

#middle {
  vertical-align: middle;
  width: 100%;
}

@font-face {
  font-family: 'Iosevka';
  src: url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff2/iosevka-ss08-regular.woff2') format('woff2'),
       url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/master/woff/iosevka-ss08-regular.woff') format('woff');
}