#rss {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    animation: fadein linear 2s;
    animation-delay: 500ms;
    /*border: 1px solid blue;*/
}

.rss_item {
    max-height: 100%;
    width: 15%;
    padding: 1% 3%;
    opacity: 0.6;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    /*border: 1px solid green;*/
}

.title {
    font-size: medium;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    /*border: 2px solid rebeccapurple;*/
    width: 100%;
}

.rss_item::before {
    width: 100%;
    transition: 1250ms;

}

.rss_item:hover {
    opacity: 1;
    transition: 250ms;
}

.rss_item:hover > .title {
    opacity: 0.4;
    transition: 250ms;
}

.rss_item:hover > .title {
    width: 0;
    transition: 250ms;
}

.rss_item:hover > .title + .description_item {
    display: block;
    position: absolute;
    bottom: 100%;
    animation: fadein 250ms;
}


.rss_item h2 {
    font-size: medium;
    /*border: 1px solid orange;*/
}

.description_item {
    display: none;
    position: relative;
    text-align: left;
    padding-right: 10%;
    vertical-align: bottom;
    /*border: 1px solid red;*/
}

.description_item a {
    font-weight: 300;
    font-size: 14px;
    color: white;
    text-decoration: none;
    word-wrap: break-word;

}

.credits {
    position: absolute;
    left: 0;
    padding: 0% 3%;
    display: flex;
    align-items: center;
    opacity: 0.3;
    /*border: 1px solid yellow;*/
}

.credits a, .credits p {
    color: var(--text-color);
    text-decoration: none;
    font-size: medium;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }