#rss {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    /*border: 2px solid blue;*/
}

.rss_item {
    display: inline-block;
    position: relative;
    max-height: 100%;
    width: 15%;
    max-width: 25%;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    /*border: 1px solid green;*/
}

.rss_item:hover {
    background: #191919;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background 500ms;

    /*border: 1px solid yellowgreen;*/
}

.rss_item:hover > .description_item {
    background: #191919;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.title {
    padding: 1% 3%;
    font-size: medium;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    width: 100%;
    transition: width 500ms ease, opacity 500ms;
    transition-delay: 250ms;
    /*border: 2px solid rebeccapurple;*/
}

.rss_item:hover > .title {
    opacity: 0.3;
    width: 0;
    transition: width 750ms ease, opacity 500ms;
}

.rss_item:hover > .title + .description_item {
    opacity: 1;
    visibility: visible;
}


.rss_item h2 {
    font-size: medium;
    /*border: 1px solid orange;*/
}

.description_item {
    opacity: 0;
    position: absolute;
    bottom: 100%;
    display: block;
    text-align: left;
    /*border: 1px solid red;*/
    transition: opacity 250ms;
    visibility: hidden;
    max-height: 15vh;
    overflow-y: scroll;
    padding: 1% 3%;

}

.description_item a {
    font-weight: 300;
    font-size: 14px;
    color: white;
    text-decoration: none;
    word-wrap: break-word;
}

.credits {
    position: absolute;
    left: 0;
    padding: 0% 3%;
    display: flex;
    align-items: center;
    /*border: 1px solid yellow;*/
}

.credits a, .credits p {
    color: var(--text-color);
    text-decoration: none;
    font-size: medium;
}


@media print, screen and (max-width: 1500px) {
    #rss * {
        visibility: hidden;
    }
}

@keyframes fadein {
    from {
      visibility: hidden;;
    }
    to {
      visibility: visible;
    }
  }
