#rss {
    padding-top: 12%;
}


.rss_item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 15%;
    padding: 1% 3%;

    
  
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}
  
.rss_item h2 {
    font-weight: 400;
    font-size: 1.5vh;
    text-align: center;
}

.description_item a {
    font-weight: 300;
    font-size: 1.3vh;
    color: white;
    padding: 0.3rem 0;
    text-decoration: none;
    padding-left: 0;
}


.clicker {
    outline: none;
    cursor: pointer;
}
    
.hidden_div {
    display: none;
}

.clicker:focus {
    text-align: left;
}
    
.clicker:focus + .hidden_div {
    padding-bottom: 5vh;
    text-align: left;
    display:block;
    transform:translateY(-100%);
    /*Firefox*/
    -moz-transform:translateY(-100%);
    /*Microsoft Internet Explorer*/
    -ms-transform:translateY(-100%);
    /*Chrome, Safari*/
    -webkit-transform:translateY(-100%);
    /*Opera*/
    -o-transform:translateY(-100%);
}
